*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
}
/* id="sub,id="counter",<button id="add,class="reset", <button id="reset" */
.count{
    height: 600px;
    width: 600px;
    border-radius: 600px;
    background-color: rgb(222, 147, 48);
    -webkit-border-radius: 600px;
    -moz-border-radius: 600px;
    -ms-border-radius: 600px;
    -o-border-radius: 600px;
}
.countnum{
    height: 49%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.reset{
    height: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sub, #add{
    height: 100px;
    width: 100px;
    border-radius: 100px;
    color: aliceblue;
    font-size: x-large;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    -ms-border-radius: 100px;
    -o-border-radius: 100px;
}

#sub{
    background-color: red;
}
#add{
    background-color: green;
}
#reset{
    height: 60px;
    width: 150px;
    background-color: black;
    color: azure;
    font-size: larger;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}
#counter{
    font-size: larger;
    color: rgb(255, 255, 255);
    width: 50px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}